body {
  /* margin: middle;
        padding: middle; */
  font-family: "Arial";
  /* border: 3px solid rgb(0, 0, 0); */
  /* background-color: rgb(255, 255, 255); */

  margin: auto;
  width: 35%;
  padding: 130px;
}
.login {
  width: 382px;
  overflow: hidden;
  margin: 20px;
  padding: 20px;
  background: #080808;
  border-radius: 15px;
}
h2 {
  text-align: center;
  color: rgb(255, 68, 0);
  padding: 20px;
}
label {
  color: orangered;
  font-size: 17px;
}
#Uname {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}
#Pass {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}
#log {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: orangered;
}
span {
  color: orangered;
  font-size: 17px;
}
a {
  float: right;
  /* background-color: rgb(212, 16, 16); */
  color: orangered;
}
a1 {
  float: Left;
  /* background-color: rgb(212, 16, 16); */
  color: orangered;
}
